<div layout="row" layout-padding ng-cloak>
    <div flex="10">
	   &nbsp;
    </div>
    <div flex="40">
    	<!--
    	<div ng-controller="ScheduleCtrl" ng-include="'client/schedule/schedule.controller.ng.html'"></div>
		<div ng-controller="SiteCtrl" ng-include="'client/site/sites.view.ng.html'"></div>
		<div ng-controller="StudentsCtrl" ng-include="'client/students/students.controller.ng.html'"></div>
		<div ng-controller="InstructorsCtrl" ng-include="'client/instructors/instructors.controller.ng.html'"></div>
		<div ng-controller="TutorialsCtrl" ng-include="'client/tutorials/tutorials.controller.ng.html'"></div>
		<div ng-controller="ProjectsCtrl" ng-include="'client/projects/projects.controller.ng.html'"></div>
		-->

    <md-card >
      <md-toolbar layout="row" layout-padding>
        <div class="md-toolbar-tools">
            <h2><span>Fab Academy classes</span></h2>
        </div>
      </md-toolbar>
  <md-card-content>
      <ul><li ng-repeat="y in years">
         <a class="md-button md-raised md-hue-1" ng-click="selectYear(y)">{{y}}</a></li>
      </ul>
</md-card-content>
    </md-card>

    </div>
    <div flex="40"></div>

    <div flex='20'>&nbsp;</div>
</div>
